* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  background: var(--background-color-w);
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}
label {
  color: var(--anti-text-color-w);
}
h1 {
  text-align: center;
  color: var(--anti-text-color);
  font-family: Calibri;
  font-weight: bold;
  font-size: large;
  font-size: 39px;
}

button {
  width: 110px;
  margin: 10px;
  position: relative;
  display: block;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: none;
  background-color: #716d6d;
  color: #ffffff;
  font-family: 'Space Mono', monospace;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
}
/*
#editbtn{
     background-color: #000000;
  }
#deletebtn{
     background-color:#008cba
  }

 #addbtn{
     background-color:#d32f2f
   }

 */
#editbtn:hover {
  background-color: rgb(47, 47, 47);
}
#deletebtn:hover {
  background-color: #4d90b4;
}

#addbtn:hover {
  background-color: #d56464;
}

input,
textarea {
  resize: none;
  font-family: Calibri;
  font-size: large;
  font-size: 20px;
  color: var(--anti-text-color-w);
}

.input {
  position: relative;
  background: var(--window-background-color-d);
  border: 3px solid var(--anti-text-color-w);
  resize: none;
  border-radius: 0px;
}

.labeldes {
  color: var(--anti-text-color);
  font-family: Calibri;
  font-weight: bold;
  font-size: 23px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //color: #3e8acc;
}

.formbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  //background-color: #48d456;
  width: 400px;
  padding: 20px;
}

#textarea {
  height: 437px;
  width: 800px;
}

#titlearea {
  height: 40px;
  width: 300px;
  font-weight: bold;
  font-size: 18px;
}

#formdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color:violet;
}

#formtextarea {
  display: flex;
  flex-direction: column;
  width: max-content;
  //background-color: #3e8acc;
}

#pagesdiv {
  display: flex;
  flex-direction: column;
  //background: #0046ff;
  padding: 10px;
}

#pagesdiv2 {
  display: flex;
  flex-direction: column;
  //background: #ff0200;
  padding: 10px;
}

#pagessection {
  display: flex;
  flex-direction: column;
  background: var(--window-background-color);
  border-radius: 12px;
  align-items: center;
  box-shadow: 0 0 10px var(--window-shadow-background-color);
  padding: 5px;
  margin: 15px;
  height: max-content;
}

#pagedivider {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  //background-color: #716d6d;
  width: max-content;
}
label.tslabel {
  font-size: 18px;
}
/*
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
*/

@media (width >= 1500px) {
  #textarea {
    height: 537px;
    width: 1000px;
  }
  #pagedivider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //background-color: #716d6d;
  }
  label.tslabel {
    font-size: 22px;
  }
}

@media (width <= 1200px) {
  #textarea {
    height: 537px;
    width: 1000px;
  }
  #pagedivider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //background-color: #716d6d;
  }
  label.tslabel {
    font-size: 22px;
  }
}

@media (width <= 1100px) {
  #textarea {
    height: 437px;
    width: 900px;
  }
  #pagedivider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //background-color: #716d6d;
  }
}
@media (width <= 1000px) {
  #textarea {
    height: 437px;
    width: 800px;
  }
  #pagedivider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //background-color: #716d6d;
  }
}

@media (width <= 950px) {
  #textarea {
    height: 437px;
    width: 750px;
  }
  #pagedivider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //background-color: #716d6d;
  }
}

@media (width <= 800px) {
  #textarea {
    height: 437px;
    width: 550px;
  }
  #pagedivider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //background-color: #716d6d;
  }
}

@media (width <= 600px) {
  #textarea {
    height: 437px;
    width: 450px;
  }
  #pagedivider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //background-color: #716d6d;

    label.tslabel {
      font-size: 18px;
    }
  }
}
