<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Main Style Sheet -->

    <!-- <link href="CP-Diary.css" rel="stylesheet" /> -->

    <title>My Diary App</title>
    <style>
      #list {
        list-style: none;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <header><h1>Diary</h1></header>
    <div id="formdiv">
      <div id="pagedivider">
        <div id="formtextarea">
          <label for="input" class="labeldes">Title</label>

          <textarea class="input" [(ngModel)]="name" placeholder="Page title" id="titlearea" maxlength="25"> </textarea>

          <label for="input" class="labeldes">Content</label>
          <textarea id="textarea" name="tdItem1" placeholder="annotate.." class="input" [(ngModel)]="content" maxlength="800"> </textarea>
        </div>

        <div id="pagessection">
          <label for="date" class="labeldes" style="font-size: 30px">Pages</label>

          <div style="display: flex; flex-direction: row">
            <div id="pagesdiv">
              <tr *ngFor="let item of store; let i = index">
                <label class="tslabel" style="margin-left: 0px; font-weight: bold" (click)="display(i)">{{ item.name }}</label>
              </tr>
            </div>
            <div id="pagesdiv2">
              <tr *ngFor="let item of store; let i = index">
                <label class="tslabel" style="margin-left: 0px; font-weight: bold" (click)="display(i)">{{
                  item.edited.getDate() + '/' + (item.edited.getMonth() + 1) + '/' + item.edited.getFullYear()
                }}</label>
              </tr>
            </div>
          </div>
        </div>
      </div>
      <div class="formbuttons">
        <button id="addbtn" type="submit" (click)="diaryAdd()">Add</button>
        <button id="editbtn" type="submit" (click)="modify()">Edit</button>
        <button id="deletebtn" type="submit" (click)="delete()">Delete</button>
      </div>
    </div>
  </body>
</html>
