<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alarm</title>
  </head>
  <body class="body">
    <h1 class="title-big">Alarm</h1>
    <div class="optionsTab">
      <span class="title">Create new alarm:</span>
      <input
        class="alarmNameText"
        placeholder="Insert alarm name"
        type="text"
        minlength="1"
        maxlength="24"
        [(ngModel)]="alarmName"
        (keydown)="handleKeydown($event)"
        aria-label="Insert alarm name"
      />
      <select class="typeChoice" id="typeBox" [(ngModel)]="type" aria-label="Choose the type of alarm">
        <option value="alarm" aria-label="alarm">Alarm</option>
        <option value="timer" aria-label="timer">Timer</option>
      </select>
      <div class="timeHeader">
        <label style="padding-right: 20px">Hours</label><label>Mins</label><label style="padding-left: 25px">Secs</label>
      </div>
      <div class="timeChoice">
        <input
          placeholder="0"
          type="number"
          min="0"
          max="24"
          class="timeBox"
          [(ngModel)]="hours"
          (keydown)="handleKeydown($event)"
          aria-label="hours"
        />
        <b class="colon">:</b>
        <input
          placeholder="00"
          type="number"
          min="0"
          max="60"
          class="timeBox"
          [(ngModel)]="minutes"
          (keydown)="handleKeydown($event)"
          aria-label="minutes"
        />
        <b class="colon">:</b>
        <input
          placeholder="00"
          type="number"
          min="0"
          max="60"
          class="timeBox"
          [(ngModel)]="seconds"
          (keydown)="handleKeydown($event)"
          aria-label="seconds"
        />
      </div>
      <div class="buttons">
        <button class="alarmAddButton" (click)="saveAlarm()" aria-label="add alarm">
          <span style="position: relative; top: -2px">+</span>
        </button>
        <button class="alarmClearButton" (click)="clearAlarms()" aria-label="clear all alarms">
          <span style="position: relative; top: -2px">Clear</span>
        </button>
      </div>
    </div>
    <div class="tables">
      <div class="alarmsSection">
        <span class="title">Active Alarms:</span>
        <table class="tableAlarms">
          <tr *ngFor="let alarm of alarms; let i = index" class="rowStyle" role="table">
            <td class="alarmNameField">
              <label>{{ alarm.alarmName }}</label>
            </td>
            <td class="typeField">
              <label>{{ alarm.type }}</label>
            </td>
            <td class="timeField">
              <label> {{ alarm.hours }}:{{ alarm.minutes }}:{{ alarm.seconds }} </label>
            </td>
            <td class="buttonField">
              <button class="alarmPlayPause" (click)="this.alarm.ticking = togglePlay(this.alarm.ticking, this.alarm.id)"></button>
            </td>
            <td class="buttonField"><button class="alarmDeleteButton" (click)="deleteAlarm(this.alarm.id)">X</button></td>
          </tr>
        </table>
      </div>
      <div class="finishedAlarmsSection">
        <span class="title">Finished Alarms:</span>
        <table class="tableFinishedAlarms">
          <tr *ngFor="let alarm of finishedAlarms; let i = index" class="rowStyle" role="table">
            <td class="alarmNameField">
              <label>{{ alarm.alarmName }}</label>
            </td>
            <td class="typeField">
              <label>{{ alarm.type }}</label>
            </td>
            <td class="timeField">
              <label> {{ alarm.hours }}:{{ alarm.minutes }}:{{ alarm.seconds }} </label>
            </td>
            <td class="buttonField"><button class="alarmDeleteButton" (click)="finishedAlarmDelete(this.alarm.id)">X</button></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
