.body {
  color: var(--text-color);
  background-color: var(--background-color);
  transition-duration: 0.3s;
  border-radius: 15px;
  padding: 2%;
}

.form-control {
  background-color: var(--history-input-bg);
  color: var(--text-color);
}
