<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-history-heading" data-cy="HistoryCreateUpdateHeading" jhiTranslate="teamprojectApp.history.home.createOrEditLabel">
        Create or edit a History
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.history.subject" for="field_subject">Subject</label>
          <input type="text" class="form-control" name="subject" id="field_subject" data-cy="subject" formControlName="subject" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.history.subjectScore" for="field_subjectScore">Subject Score</label>
          <input
            type="number"
            class="form-control"
            name="subjectScore"
            id="field_subjectScore"
            data-cy="subjectScore"
            formControlName="subjectScore"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.history.subjectTarget" for="field_subjectTarget">Subject Target</label>
          <input
            type="number"
            class="form-control"
            name="subjectTarget"
            id="field_subjectTarget"
            data-cy="subjectTarget"
            formControlName="subjectTarget"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.history.upcomingTest" for="field_upcomingTest">Upcoming Test</label>
          <input
            type="text"
            class="form-control"
            name="upcomingTest"
            id="field_upcomingTest"
            data-cy="upcomingTest"
            formControlName="upcomingTest"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.history.upcomingTestTarget" for="field_upcomingTestTarget"
            >Upcoming Test Target</label
          >
          <input
            type="number"
            class="form-control"
            name="upcomingTestTarget"
            id="field_upcomingTestTarget"
            data-cy="upcomingTestTarget"
            formControlName="upcomingTestTarget"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.history.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
