<html lang="en">
  <link rel="stylesheet" href="history.component.scss" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@600;700&display=swap" rel="stylesheet" />
  <script src="path/to/chartjs/dist/chart.umd.js"></script>

  <body>
    <div class="container">
      <div class="yourProgress">
        <h1>Your Progress</h1>
        <div class="divChart"><canvas id="myChart"></canvas></div>
      </div>

      <div class="addSubject">
        <div class="addTest">
          <h2>Add Subject</h2>
        </div>
        <div class="upcomingOrCompleted">
          <h3>Upcoming or Completed</h3>
          <form>
            <select name="selectSubject" [(ngModel)]="selectedOption">
              <option value="Upcoming">Upcoming</option>
              <option value="Completed">Completed</option>
            </select>
          </form>
        </div>
        <span class="whatSubject">
          <h3>Subject</h3>
          <input id="subjectValue" name="subjectValue" [(ngModel)]="newSubject" />
        </span>
        <div class="target&date">
          <div class="target">
            <h3>Grade</h3>
            <input id="gradeValue" name="gradeValue" [(ngModel)]="score" />
          </div>
          <div class="target">
            <h3>Target</h3>
            <input id="targetValue" name="targetValue" [(ngModel)]="target" />
          </div>
          <button class="buttonAdd" (click)="myFunction()">+</button>
        </div>
      </div>
      <div class="upcomingTest">
        <h1>Upcoming Test</h1>
        <div class="upcomingTestDisplay" id="upcomingTestDisplay">
          <!-- <div class="upcomingLabels">
            <label *ngFor="let item of newList.upcomingTest">
              {{ item }}
            </label>


          </div>-->
          <div class="upcomingLabels">
            <ng-container *ngFor="let item of newList.upcomingTest">
              <label *ngIf="item && item !== ' '"> {{ item }} </label>
            </ng-container>
          </div>
          <div class="upcomingLabels">
            <ng-container *ngFor="let item of newList.subjectTarget">
              <label *ngIf="item && item !== 0"> Target: {{ item }} </label>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
