body {
  background-color: #e0e4e7;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  color: #565151;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #565151;
  padding-bottom: 7px;
  padding-top: 7px;
  margin: 0;
}
.container {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 70% 30%;
  outline: #000000;
  height: 100%;
  background-color: #e0e4e7;
}

.yourProgress {
  grid-row: 1;
  grid-column: 1;
}

#divChart {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.addSubject {
  grid-row: 1;
  grid-column: 2;
}

.upcomingTest {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.whatSubject {
  margin-bottom: 20px;
}
.target {
  display: table-cell;
  padding-right: 10px;
}

.date {
  display: table-cell;
}

input,
select {
  width: 200px;
  height: 30px;
  background: #ebebeb;
  border-radius: 3px;
  outline: none;
  border-width: 0;
  border: none;
}

*:focus {
  outline: none;
}
.upcomingTestDisplay {
  width: 100%;
  height: 150px;
  background: #e0e4e7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.upcomingTestCards {
  height: inherit;
  width: 200px;
  display: flex;
}

ul {
  margin: auto auto;
  padding: 0;
}

li {
  position: relative;
  margin: auto;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.upcomingTest-Date {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #336d8d;
  padding-bottom: 5px;
}

.upcomingTest-Subject,
.upcomingTest-Target {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #565151;
  padding-top: 2px;
}
