<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-do List</title>
  </head>
  <body>
    <h1>To-do List</h1>
    <div class="todo-list">
      <div class="todo-items">
        <span class="title">to-dos</span>
        <div class="window">
          <ul class="list" id="todo-list">
            <li class="item" onclick="">
              <label> <input type="checkbox" onclick="moveItem(this)" /> Task 1 </label>
            </li>
            <li class="item" onclick="">
              <label> <input type="checkbox" onclick="moveItem(this)" /> Task 2 </label>
            </li>
            <li class="item" onclick="">
              <label> <input type="checkbox" onclick="moveItem(this)" /> Task 3 </label>
            </li>
            <li class="item" onclick="">
              <label> <input type="checkbox" onclick="moveItem(this)" /> Task 4 </label>
            </li>
            <li class="item" onclick="">
              <label> <input type="checkbox" onclick="moveItem(this)" /> Task 5 </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="done-items">
        <span class="title">Dones</span>
        <div class="window">
          <ul class="list" id="done-list"></ul>
        </div>
      </div>
      <div class="Detail-Window">
        <div>
          <h3>Heading</h3>
          <textarea class="Detail-Heading" placeholder="Heading"></textarea>
        </div>
        <div>
          <h3 class="card-title">Description</h3>
          <textarea class="Detail-Description" rows="6" placeholder="Description"></textarea>
        </div>
        <div>
          <p>Created: [Creation Time] Last Edited: [Last Edit Time]</p>
          Priority: [Priority]
        </div>
        <button type="save">Save</button>
        <button type="cancel">Cancel</button>
      </div>
    </div>
    <div class="add-button">＋</div>
  </body>
</html>
