/*The todo list page */
.todo-list {
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

/*todo-items and done-items*/
.todo-items,
.done-items {
  position: relative;
  top: 10px;
  left: 1.25vw;
  bottom: 10px;
  width: 90vw;
  height: 35vh;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  padding: 20px;
  transition: width 0.2s;
}

.half-width {
  width: 45vw !important;
}

.empty-space {
  height: 5vh;
}

.window {
  overflow-y: scroll;
  height: 80%;
  width: 100%;
}

.window::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 2%;
}

.item {
  position: relative;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 20px;
  background: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item input[type='checkbox'] {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  bottom: 0px;
  border-radius: 50%;
  border: 1px solid rgba(17, 17, 17, 0.68);
  outline: none;
  cursor: pointer;
}

.item span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.item input[type='checkbox']:checked {
  background-color: #2196f3;
  border-color: #2196f3;
}

.selected {
  color: gray;
}

/* Detail window*/
.Detail-Window {
  padding: 2%;
  position: absolute;
  top: 10px;
  right: 1.25vw;
  height: 75vh;
  width: 45vw;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s, transform 0.5s;
}

.not-hidden {
  transform: scale(1);
  opacity: 1 !important;
}

.Detail-Heading,
.Detail-Description {
  position: relative;
  top: auto;
  left: auto;
  height: auto;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

/*Add and delete*/
.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #3f9a40;
}

.add-button-icon {
  position: relative;
  top: -4px;
}

.delete-button {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c62828;
}

.delete-button-icon {
  position: relative;
  top: -4px;
}

textarea.Detail-Heading,
textarea.Detail-Description {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

button[type='save'],
button[type='cancel'] {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button[type='cancel'] {
  background-color: #f44336;
}

button[type='save']:hover,
button[type='cancel']:hover {
  opacity: 0.8;
}
