<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="toDoItem">
      <h2 data-cy="toDoItemDetailsHeading"><span jhiTranslate="teamprojectApp.toDoItem.detail.title">To Do Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ toDoItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.toDoItem.toDoItemHeading">To Do Item Heading</span></dt>
        <dd>
          <span>{{ toDoItem.toDoItemHeading }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.toDoItem.toDoItemDescription">To Do Item Description</span></dt>
        <dd>
          <span>{{ toDoItem.toDoItemDescription }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.toDoItem.toDoItemStatus">To Do Item Status</span></dt>
        <dd>
          <span>{{ toDoItem.toDoItemStatus | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.toDoItem.diaryPage">Diary Page</span></dt>
        <dd>
          <div *ngIf="toDoItem.diaryPage">
            <a [routerLink]="['/diary-page', toDoItem.diaryPage.id, 'view']">{{ toDoItem.diaryPage.pageDate }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/to-do-item', toDoItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
