<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="teamprojectApp.notification.detail.title">Notification</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.notification.feature">Feature</span></dt>
        <dd>
          <span>{{ notification.feature }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.notification.subject">Subject</span></dt>
        <dd>
          <span>{{ notification.subject }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.notification.content">Content</span></dt>
        <dd>
          <span>{{ notification.content }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.notification.receivedDate">Received Date</span></dt>
        <dd>
          <span>{{ notification.receivedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.notification.status">Status</span></dt>
        <dd>
          <span>{{ notification.status }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.notification.read">Read</span></dt>
        <dd>
          <span>{{ notification.read }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.notification.user">User</span></dt>
        <dd>
          <span>{{ notification.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
