<link rel="stylesheet" href="home.component.scss" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />

<div class="home__container">
  <div class="home__container__welcome">
    <div class="home__container__welcome-message">
      <h1>Hello</h1>
      <p>Stop delaying, start achieving with our app today!</p>
    </div>

    <!-- <div class="home__container__welcome-lines">
      <div class="home__container__welcome-hl"></div>
      <div class="home__container__welcome-vl"></div>
    </div>-->
  </div>

  <div class="home__container-logo">
    <img src="https://i.ibb.co/m6Sj07C/home-logo.png" alt="home-logo" border="0" />
  </div>
</div>

<!--

  <div class="col-md-9">
    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span>
      </div>
    </div>

  </div>

-->
