<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="antiProcrastination">
      <h2 data-cy="antiProcrastinationDetailsHeading">
        <span jhiTranslate="teamprojectApp.antiProcrastination.detail.title">Anti Procrastination</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ antiProcrastination.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.antiProcrastination.url">Url</span></dt>
        <dd>
          <span>{{ antiProcrastination.url }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.antiProcrastination.type">Type</span></dt>
        <dd>
          <span>{{ antiProcrastination.type }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.antiProcrastination.days">Days</span></dt>
        <dd>
          <span>{{ antiProcrastination.days }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.antiProcrastination.hours">Hours</span></dt>
        <dd>
          <span>{{ antiProcrastination.hours }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.antiProcrastination.minutes">Minutes</span></dt>
        <dd>
          <span>{{ antiProcrastination.minutes }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.antiProcrastination.seconds">Seconds</span></dt>
        <dd>
          <span>{{ antiProcrastination.seconds }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/anti-procrastination', antiProcrastination.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
