h1 {
  font-family: Calibri;
}

p {
  font-family: Calibri;
}

label {
  font-family: Calibri;
}

.larger {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.size {
  height: 40px;
  width: 65px;
  border-radius: 10%;
}

Button {
  margin: 0px 50px;
}

.flt_rght {
  float: right;
  height: 28px;
}

.rgtDiv {
  font-family: Calibri;
  display: flex;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  min-height: 25px;
  width: 500px;

  border: 1px #737373;
  background: #ebebeb;

  padding: 0;
  border-radius: 4px;
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-text);
}
